<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="https://static.community.services.sap/com-hdr/v5/393.180/shared-ui/1dx-assets/images/favicon.ico" />
  <title>nao-nano-backpack</title>
  <script id="sap-ui-bootstrap"
    src="{{ url_for('static', filename='openui5-runtime/resources/sap-ui-core.js') }} "
    data-sap-ui-theme="sap_fiori_3"
    data-sap-ui-libs="sap.m, sap.ui.layout, sap.tnt"
    data-sap-ui-resourceroots='{"nao-nano-backpack": "{{ url_for('static', filename='webapp') }}"}'
    data-sap-ui-onInit="module:nao-nano-backpack/index"
    data-sap-ui-compatVersion="edge"
    data-sap-ui-async="true">
  </script>
  <style>
    .customHeaderToolbar {
       background-color: #354a5f !important;
    }
    .customHeaderToolbarTitle {
      color: white !important;
    }
    .customCounter {
      color: orange !important;
      font-size: 2em !important;
    }
  </style>
  <script src="{{ url_for('static', filename='libqi-js/libs/qi/2/qi.js') }}"></script>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='qi/qi2-msg.js') }}">
  </script>
</head>
<body class="sapUiBody" id="content"></body>
</html>
